.button {
  padding: 3px 10px;
  border: 1px solid $color-pink;
  border-radius: 10px;
  color: $color-pink;
  transition: all 0.4s ease-in;
  cursor: pointer;
  &:hover {
    color: $color-light;
    background-color: $color-pink;
  }
  &__main {
    margin: 20px auto 0;
  }
}
