/*Primary*/
$font-stack-primary: 'Aeroport', sans-serif;
$font-size-primary: 17px;
$line-height-primary: 25px;

/*Main Colors*/
$color-primary: #373c42;
$color-light: #ffffff;
$color-grey: #9a9ca0;
$color-dark-grey: #9fa5ab;

/*Addition Colors*/
$color-green: #10f33b;
$color-light-green: #f3fdf5;
$color-yellow: #f4b900;
$color-light-yellow: #fdffe5;
$color-red: #f86545;
$color-light-red: #fef7f7;
$color-pink: #ba25b2;
